<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&display=swap" rel="stylesheet">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Link CSS -->
    <link rel="stylesheet" href="./css/main.css">
    <title>Designer and Maker</title>
</head>

<body style="background-color: rgb(212, 116, 116);">
    <% if(success.length > 0){ %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>

    <div class="row m-0">
        <div class="col-lg-5 col-md-7 col-sm-8 col-10 m-auto">
            <div class="card mt-5 bg-dark">

                <div class="card-title text-center mt-2">
                    <img class="img-fluid" src="img/user.png" width="150px" height="150px">
                </div>

                <div class="card-body">
                    <!--
                      -- FORM STARTS
                      -->
                    <form action="/designerMaker" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class=" col-sm-6 form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="email" class="form-control" id="email"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>

                            <div class=" col-sm-6 form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="password"
                                    placeholder="Password">
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="makerCapacity">How many maker projects on average do you work on every month?</label>
                                      <input type="number" name="makerCapacity" class="form-control" id="makerCapacity" placeholder="Integer">
                                    </select>
                                  </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="designerCapacity">How many hours can you spend on Naya projects as a designer per week?
                                    </label>
                                    <input type="number" step="0.01" name="designerCapacity" class="form-control" id="designerCapacity" placeholder="Decimal/Integer">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-auto col-md-6 form-group ">
                                <label for="category">Which of the following best describes you as a designer?</label>
                                <select class="form-control mt-auto" id="category" name="category">
                                    <option>Furniture Designer</option>
                                    <option>Architect</option>
                                    <option>Interior Designer</option>
                                    <option>Industrial Designer</option>
                                    <option>Designer Maker</option>
                                </select>

                            </div>

                            <div class="col-auto col-md-6 form-group d-flex flex-column">
                                <label for="training">Education level/type </label>
                                <input type="text" name="training" class="form-control mt-auto" id="training" placeholder="Text">
                            </div>

                        </div>

                        <div class="form-group">
                        </div>

                        <div class="form-group">
                            <label for="materials">What kind of materials can you work with as a maker?</label>

                            <select multiple class="form-control" id="materials" name="materials">
                                <option>Wood</option>
                                <option>Metal</option>
                                <option>Glass</option>
                                <option>Plastic</option>
                                <option>Concrete</option>
                            </select>
                            <small id="help" class="form-text text-muted">Hold Ctrl and click to select multiple
                                items</small>
                        </div>

                        <div class="row">
                            <div class="col-auto col-md-6 form-group d-flex flex-column">
                                <label for="location">Where are your based out of? </label>
                                <input type="location" name="location" class="form-control mt-auto" id="location" placeholder="Location">
                            </div>

                            <div class="col-auto col-md-6 form-group d-flex flex-column">
                                <label for="imageLink">Paste the link to your picture:</label>
                                <input type="url" name="imageLink" class="form-control mt-auto id="imageLink" placeholder="Link to the Image">
                            </div>
                        </div>

                        <label for="designerMakerImage">OR upload the picture from you device</label>
                        <div class="custom-file">
                        <input type="file" class="custom-file-input mb-3" id="designerMakerImage" name="designerMakerImage">
                        <label class="custom-file-label" for="designerMakerImage">Choose image...</label>
                        <!-- <div class="invalid-feedback">Example invalid custom file feedback</div> -->
                        </div>

                        <input type="submit" value="Submit" class="btn btn-primary mt-2 float-right">
                        <a class="btn btn-primary float-left mt-2" href="/" role="button">Go Home</a>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>